<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/test</property>
        <property name="hibernate.connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
           <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.generate_statistics">true</property>
         <mapping class="daoClasses.Student"/>
         <mapping class="daoClasses.College"/>  
         <mapping class ="daoClasses.UserDetails"/>
         <mapping class ="daoClasses.Address"/>
          <mapping class ="mapping.Person"/>
         <mapping class ="mapping.Vehicle"/>
         <mapping class ="mapping.Person2"/>
         <mapping class ="mapping.Vehicle2"/>
         <mapping class ="manyTomanyDemo.Book"/>
         <mapping class ="manyTomanyDemo.Author"/>
         <mapping class ="secondLevelCacheDemo.DepartmentEntity"/>
         <mapping class ="secondLevelCacheDemo.EmployeeEntity"/>
         <mapping class = "criteriaDemos.League"/>
          <mapping class = "criteriaDemos.Player"/>
          <mapping class = "daoClasses.Mobile"/>
        </session-factory>
</hibernate-configuration>